:root{
    font-size: 14px;
}

*{
    box-sizing: border-box;
}

html{
    font-family: 'Manrope', sans-serif;
}

header{
    height: 400px;
    background-color: #cdd7ee79;
    border-bottom-left-radius: 10rem;
}

.headerItems{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
   
}

h1{
    color: #293356;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 4rem;
    z-index: 500;
}

.grey{
    color: #848EAD;
}

.circles{
    position: absolute;
    z-index: 0;
    top: 1.5rem;
}

.top-words{
    line-height: 2rem;
    margin-top: 1rem;
    z-index: 500;
}

main{
    background-color: #fff;
    height: 50vh;
    display: flex;
    justify-content: center;
}



/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #40DB82;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #AEB3CB;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  .ranger {
    -webkit-appearance: none;
    width: 85%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .ranger:hover {
    opacity: 1;
  }



  .ranger::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('imgs/icon-slider.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }
  
  .ranger::-moz-range-thumb {
    width: 23px;
    height: 25px;
    border: 0;
    background: url('imgs/icon-slider.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }




















  

  .main-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    min-width: 327px;
    border-radius: 1rem;
    -webkit-box-shadow: -1px 7px 18px 2px rgba(0,0,0,0.5); 
box-shadow: -1px 7px 18px 2px rgba(0,0,0,0.5);
position: absolute;
top: 15rem;

  
  }

  #views{
    color: #848EAD;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .dollar{
    color: #293356;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
  }

  #subdate{
    color: #848EAD;
    font-size: 1rem;
    font-weight: lighter;
    margin-left: 0.5rem;
   
  }

  .switcher{
    position: relative;
    display: flex;
    align-items: center;
   position: relative;
    margin-top: 2rem;
  }

  .bills{
    font-size: 12px;
    color: #848EAD;
  }

  .monthlyBilling{
    margin-right: 1rem;
  }

  .yearlyBilling{
    margin-left: 1rem;
  }

  .discount{
    padding: 0.5rem 0.5rem;
    color: #ff8D68;
    font-size: 10px;
    background-color: #FEEDE8;
    border-radius: 1rem;
    position: absolute;
   right: -3.2rem;
    font-weight: bold;
  }

  