:root{
    font-size: 14px;
}

*{
    box-sizing: border-box;
}

html{
    font-family: 'Manrope', sans-serif;
}

header{
    height: 50vh;
    background-color: #cdd7ee79;
    border-bottom-left-radius: 10rem;
}

.headerItems{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
   
}

h1{
    color: #293356;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 4rem;
    z-index: 500;
}

.grey{
    color: #848EAD;
}

.circles{
    position: absolute;
    z-index: 0;
    top: 1.5rem;
}

.top-words{
    line-height: 2rem;
    margin-top: 1rem;
    z-index: 500;
}

main{
    background-color: #fff;
    height: 50vh;
    display: flex;
    justify-content: center;
}
