:root{
    font-size: 14px;
}

*{
    box-sizing: border-box;
}

html{
    font-family: 'Manrope', sans-serif;
}

header{
    height: 400px;
    background-color: #cdd7ee79;
    border-bottom-left-radius: 10rem;
}

.headerItems{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
   
}

h1{
    color: #293356;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 4rem;
    z-index: 500;
}

.grey{
    color: #848EAD;
}

.circles{
    position: absolute;
    z-index: 0;
    top: 1.5rem;
}

.top-words{
    line-height: 2rem;
    margin-top: 1rem;
    z-index: 500;
}

main{
    background-color: #fff;
    height: 50vh;
    display: flex;
    justify-content: center;
}



/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #AEB3CB;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #40DB82;
    
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  
  




















  

  .main-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    min-width: 327px;
    border-radius: 1rem;
    -webkit-box-shadow: -1px 7px 18px 2px rgba(0,0,0,0.5); 
box-shadow: -1px 7px 18px 2px rgba(0,0,0,0.5);
position: absolute;
top: 15rem;

  
  }

  #views{
    color: #848EAD;
    font-size: 12px;
    letter-spacing: 0.2rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .dollar{
    color: #293356;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    display: block;
  }

  #subdate{
    color: #848EAD;
    font-size: 1rem;
    font-weight: lighter;
    margin-left: 0.5rem;
   
  }

  .switcher{
    position: relative;
    display: flex;
    align-items: center;
   position: relative;
    margin-top: 2rem;
   
  }

  .bills{
    font-size: 12px;
    color: #848EAD;
  }

  .monthlyBilling{
    margin-right: 1rem;
  }

  .yearlyBilling{
    margin-left: 1rem;
  }

  .discount{
    padding: 0.5rem 0.5rem;
    color: #ff8D68;
    font-size: 10px;
    background-color: #FEEDE8;
    border-radius: 1rem;
    position: relative;
   right: -0.7rem;
    font-weight: bold;
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
     
    
      -webkit-appearance: none;
      background-color: #9a905d;
    }
  

  
    
    input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #10D8C4;
      background-image: url('imgs/icon-slider.svg');
      background-repeat: no-repeat;
      background-size:20px;
      background-position: center;
      
      z-index: 99;
    }

    input[type='range']::-webkit-slider-runnable-track {
     
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }

  
  input[type="range"]::-ms-fill-upper {  
    background-color: red;
  }
}

  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    position: relative;
  }



  #myRange{
    background: linear-gradient(to right, #82CFD0 0%, #82CFD0 50%, #fff 50%, #fff 100%);
    border: solid 1px #82CFD0;
    border-radius: 8px;
    height: 10px;
    width: 90%;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    cursor: grab;
  }

  .words_submit{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 1px solid #ECF0FB;
  }

  ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .check{
    width: 12px;
  }

  .greysize{
    font-size: 12px;
    color: #848EAD;
    margin-left: 1rem;
  }

  li{
    display: flex;
    margin-bottom: 1rem;
  }

   button{
     color: #BECDFF;
     background-color: #293356;
     font-weight: bold;
     padding: 1rem 3rem;
     border-radius: 2rem;
     margin-top: 1rem;
     margin-bottom: 1rem;
     font-size: 12px;
     outline: none;
     border: none;
     cursor: pointer;
   }

   .dollar_desktop{
     display: none;
   }

   .discount_big{
    display: none;
  }

   

   @media screen and (min-width:768px) {
     h1{
       font-size: 28px;
     }

     .top-words{
       font-size: 15px;
     }

     br{
       display: none;
     }

     .main-card{
       min-width: 540px;
     }

     .dollar_desktop{
      display: block;
      font-size: 40px;
      font-weight: bold;
      position: relative;
      top: 0.5rem;
      color: #293356;

    }

    #views{
      font-size: 14px;
    }
    
     .views_with_num{
       display: flex;
       flex-direction: row;
       align-items: baseline;
       justify-content: space-between;
       width: 100%;
       padding: 0rem 3rem;
       margin-top: 2rem;
     }

     .dollar{
       display: none;
     }

     .switcher{
       align-self: flex-end;
       margin-right: 4rem;
       margin-top: 3rem;
     }

.discount_big{
  display: block;
  padding: 0.5rem 0.5rem;
    color: #ff8D68;
    font-size: 10px;
    background-color: #FEEDE8;
    border-radius: 1rem;
    position: relative;
   right: -0.7rem;
    font-weight: bold;
}

.discount{
  display: none;
}

.words_submit{
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding:2rem 2rem;
}

ul{
  align-items: flex-start;
}


   }


   
    
    
  

    

  